{% extends 'gallery/layout.html' %}


{% block content %}
<div class="container-fluid">
    <div class="container my-4">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col-sm-2">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col-sm-2">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col-sm-2">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col-sm-2">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col-sm-2">
            <div class="p-3 border bg-light">Row column</div>
          </div>
          <div class="col-sm-2">
            <div class="p-3 border bg-light">Row column</div>
          </div>
         
        </div>
      </div>
</div>

{% endblock %}