{% extends 'gallery/layout.html' %}


{% block content %}
<div class="m-5">
  <div class="container">
     <div class="row">
         <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                Category
              </a>
              {% for category in categories %}
              <a href="#" class="list-group-item list-group-item-action">{{  category.category_name }} <span class="badge bg-primary rounded-pill">14</span></a>
              {% endfor %}
            </div>
            </div>
            <div class="card my-5" style="width: 18rem;">
              <div class="card-header">
                Location
              </div>
              <ul class="list-group">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>
            </div>

         </div>
         <div class="col-md-9">
              <div class="row">
                 {% for image in images %}
                  <div class="col-md-4">
                      <div class="card m-1" id="cardsize">
                        
                          <img src="{{ image.image.url }}" class="card-img-top" alt="..." style="width: 100%;">
                          <div class="card-body">
                              <small>Category: Food</small>
                          </div>
                          <a class="btn btn-outline-dark btn-sm m-1" href="{% url 'single_photo' 5%}">View</a>
                        
                  </div>
                        
                        </div>
                        {% empty %}
                        <h3>no photos...</h3>
                        {% endfor %}
                      
                  </div>
                 
                
                  
              </div>
         </div>
     </div> 
  </div>
  
</div>
 

{% endblock %}