{% extends 'gallery/layout.html' %}


{% block content %}


<div class="m-5">
    <div class="container">
        <a class="btn btn-dark my-3" href="{% url 'gallery' %}"><span class="iconify" data-icon="ri:arrow-go-back-fill"></span>
            Back</a>

       <div class="row">
           <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Description
                </div>
                <div class="card-body">
                   
                    <p>{{ image.description }}</p>
                </div>
               
              </div>
              <div class="card my-3" style="width: 18rem;">
                <div class="card-header">
                  Image link
                </div>
                <div class="card-body">
                    <input type="text" value="https://pixelstour.herokuapp.com{{image.image.url}}" id="link">
                    <button onclick="copyclipboard()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <span class="iconify" data-icon="akar-icons:copy" data-width="30" data-height="30"></span>
                      </button>
                   

                      <!-- Button trigger modal -->
    
                </div>
               
              </div>
           
            
           </div>
           <div class="col-md-9">
                <div class="row">
                 
                    <div class="college">
                        
                        <img src="{{ image.image.url}}" class="card-img-top" alt="...">
                        
    
    
                    </div>
                    
                </div>
           </div>
       </div> 
    </div>
    
</div>





    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>https://pixelstour.herokuapp.com{{image.image.url}}</p>
            <button class="btn btn-success btn-sm" type="submit"><span class="iconify" data-icon="subway:tick" data-width="20" data-height="20"></span> Copied to clipboard</button>
          </div>
          <div class="modal-footer">
            <button  type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>
 

{% endblock %}