{% extends 'gallery/layout.html' %}


{% block content %}
<div class="m-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <a class="btn btn-dark my-3" href="{% url 'gallery' %}">Previous</a>
                <div class="singlephoto">
                    <img src="{{ image.image.url}}" class="card-img-top" alt="...">
                    <p>{{ image.description }}</p>


                </div>
            </div>

        </div>
    </div>
    
</div>

{% endblock %}